/*COLOUR CODES*/
	/*Olive green #445626*/


/* === GLOBAL STYLES ================================= */

	*,
	*::before, 
	*::after {
		margin:0;
		padding:0;
		box-sizing: inherit;
	}
	html {
		font-family: Open Sans, Helvetica, sans serif;
		font-size:14px;
		box-sizing: border-box;
		color:#000000;
	}
	a {
		text-decoration: none;
		color:olive;
	}
	ul {
		list-style:none;
	}
	img {
		/*width:100%;*/
		padding:35px 0;
	}
	code {
		color:white;
		background-color:#f0f !important;
	}

	body {
		/*background:olive;*/
		/*min-height: 100vh;*/
	}
	section {}
	.container {
		max-width: 1080px;
		margin:0 auto;
		/*border:solid green 2px;*/
	}
	.content {
		/*object-fit: center;*/
	}
	.site_notice {
		display: none;
		position: fixed;
		bottom: 0;
		left:0;
		padding:35px;
		background: #ffffff;
		z-index: 999;
	}


  /*=== end global styles ================================*/


/* === HEADER STYLES ============================================================  */

	header {
		background: rgba(100,100,100, 0.5);
		width:100%;
		/*height: 5rem;*/
		/*z-index:1;*/
	}
	header a {
		color:#ffffff;
	}

	.container {
		width:100%;
		max-width:1280px;
		margin: 0 auto;
		padding: 35px 0px;
	}
	nav {
		width:100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		/*padding:35px 0;*/
		z-index: 2;
	}
	.nav-brand {	
		width:100px;
	}
	.nav-list {
		width:100%;
		align-content: right;
		justify-content: center;
		z-index: 1500;
	}

	.nav-list ul{
		text-align: right;
	}
	.nav-item{
		margin:35px 0;
		display: inline;
	}
	.nav-link {
		font-weight:700;
		font-size:18px;
		color:#ffffff;
		cursor: pointer;
		text-transform: uppercase;
		padding:6px 10px;
	}

/* -- @PROJECT STATUS -- */
.project_hero {
	margin:auto 0;
	padding-top:10vh;
	/*background:olive;*/
	background-image: url("/assets/imgs/meg-willis-website.jpg");
	/*background-image: url('https://www.w3schools.com/html/img_girl.jpg');*/
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family: 'Caveat', cursive;
	font-size:30px;
}
.project_hero h2 {
	color:white;
}
#project_status .content {
	width:100%;
	display:flex;
	/*grid-template-columns: 1fr, 2fr;*/
	border:solid 2px #ff00ff;

}
@media {
	#project_status .content {
		display:grid;
		grid-template-columns: 1fr;
		border:solid 2px green;
	}
}
.status_chart{
	border:solid 2px #ff00ff;
	overflow: hidden;
	max-width: 45%;
}
.status_table{
	border:solid 2px #ff00ff;
	max-width: 45%;
}

/*- - @HOME - - */
	
	.hero {
		margin:auto 0;
		background:olive;
		min-height: 100%;
		height:100vh;
		background-image: url("/assets/imgs/meg-willis-website.jpg");
		/*background-image: url('https://www.w3schools.com/html/img_girl.jpg');*/
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		font-family: 'Rockness', Tahoma, sans-serif;
		font-size:50px;
	}
	.hero h1 {
		color:#ffffff;
		/*margin-left:-75px;*/
		line-height: .7em;
		padding-bottom: 15px;
	}
	.hero h2 {
		color:#ffffff;
		/*text-transform: uppercase;*/
		line-height: .7em;
		padding:2% 0;
	}
	.welcome_message {
		max-width: 50%;
		text-shadow: 0px 0px 30px black;
		margin: 15% 0;
	}
	.bookings_details span {
		font-family: 'Caveat', cursive;
		font-size: 33px;
	}
	.bookings_details {
		/*border:red 2px solid;*/
		font-size: 18px;
		color: white;
		margin:5% 0;
		font-family: 'Open Sans', sans-serif;
		font-weight: 500;
	}
	.bookings_details a {
		color:white;
	}
	.bookings_announcement {
		position: fixed;
		bottom:0;
		width:100%;
		text-align: center;
		box-shadow: 10px 2px 30px #00000007;
		z-index: 999;
		background: #ffffff;
	}

	@media only screen and (max-width: 767px) {
		.container {max-width:90%;}
		/*.hero {padding:35px 0;}*/
		.hero h2 {font-size: 36px;}
		.welcome_message {max-width: 100%;}
	/*show my face*/
		.hero {background-position-x:50%;}
	

	}
 /*=== END BODY STYLES ============================================================ */
 

/*=== START FOOTER STYLES ============================================================ */

 	/*=== END FOOTER STYLES ============================================================ */






