*,
*::before, 
*::after {
	margin:0;
	padding:0;
	box-sizing: inherit;
}
section	{
	padding:35px 15px;
}
.container {
	max-width:1280px;
	margin:0 auto;
	min-width: 800px;
}
iframe {}
body {
	font-family: 'Nunito Sans', sans-serif;
}
/* Colours ——————————————————————————————————————————————————————*/
.grey {
	background-color: #f7f7f7;
}
/* Components ——————————————————————————————————————————————————*/
#project_hero {
	margin:auto 0;
	padding:10vh 15px 5vh 15px;
	/*background:olive;*/
	background-image: url("/assets/imgs/shelf-1-2200px.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
/* Typography ————————————————————————————————————————————————————*/
@font-face {
	font-family: 'Rockness', Helvetica, Nunito Sans, Tahoma, sans-serif;
}
#project_hero h2, #project_hero h3 {
	color:white;
}
#project_hero h2 {
	font-family: 'Rockness', cursive;
	font-size:60px;
}
/* Page content –——————————————————————————————————————————————*/
#project_status .content {
	display: grid;
	grid-template-columns: 2fr 3fr;
	grid-gap: 15px;
	height:60vh;
}
.status_chart {
	height:100%;
	width:100%;
}
.status_table {
	height:100%;
	width:100%;
	padding:15px 20px;
	background-color:white;
}
@media only screen and (max-width: 767px) {
	.container {
		min-width: 300px;
		/*border:3px red solid;*/
	}
	#project_status .content {
		display:grid;
		grid-template-columns: 1fr;	
		/*height:500px;*/
		max-width: 90%;
	}
	.status_chart {
		height: 380px;
	}
	.status_table {
		height: 50vh;
	}
	#project_hero h2 {
		font-family: 'Rockness', cursive;
		font-size:40px;
	}
	body {background-color:#f7f7f7;
	}
}


