.container {
	max-width:1280px;
	margin:0 auto;
	min-width: 800px;
}
iframe {
	border:none;
	width:100%;
	height:800px;
}

body {
	font-family: 'Nunito Sans', sans-serif;
}
#project_status .content {
	width:100%;
	display:grid;
	grid-template-columns: 1fr 2fr;
	border:solid 2px blue;

}

@media {
	#project_status .content {
		display:grid;
		grid-template-columns: 1fr;
		border:solid 2px green;
	}
}
.status_chart{
	border:solid 2px red;
	overflow: hidden;
	max-width: 45%;
}
.status_table{
	border:solid 2px green;
	max-width: 45%;
}