/*COLOUR CODES*/
	/*Olive green #445626*/

/*---  test area --- */



/* === GLOBAL STYLES ================================= */

	*,
	*::before, 
	*::after {
		margin:0;
		padding:0;
		box-sizing: inherit;
	}
	html {
		font-family: Open Sans, Helvetica, sans serif;
		font-size:14px;
		box-sizing: border-box;
		color:#000000;
	}
	a {
		text-decoration: none;
		color:olive;
	}
	ul {
		list-style:none;
	}
	img {
		/*width:100%;*/
		padding:35px 0;
	}
	code {
		color:white;
		background-color:#f0f !important;
	}
	nav {}

	body {
		background:olive;
		/*min-height: 100vh;*/
	}
	section {}
	.container {
		max-width: 1080px;
		margin:0 auto;
		/*border:solid green 2px;*/
		padding: 35px 0px;
	}
	.content {
		/*object-fit: center;*/
		border:2px blue dotted;
	}
	button {
	color:olive;
	background: #ffffff;
	padding: 6px 10px;
	margin:15px 0px;
	
	font-weight: 500;
	font-size:16px;
	text-transform: uppercase;
	border:0px;
	}

	/* --- header styles -- */

	header {
		background: rgba(100,100,100, 0.5);
		width:100%;
		/*height: 5rem;*/
		/*z-index:1;*/
	}
	header a {
		color:#ffffff;
	}

	nav {
		width:100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		/*padding:35px 0;*/
		z-index: 999;
		border:yellow 2px teal;
	}
	.nav_brand {	
		/*width:100px;*/
		border:yellow 2px solid;
		margin:0;
		padding:0;
	}
	.nav_list {
		width:100%;
		align-content: right;
		justify-content: center;
		z-index: 1500;
		border:2px blue solid;
	}

	.nav_list ul{
		text-align: right;
	}
	.nav_item{
		/*margin:35px 0;*/
		display: inline;
		border:2px red solid;
	}
	.nav_link {
		font-weight:700;
		font-size:18px;
		color:#ffffff;
		cursor: pointer;
		text-transform: uppercase;
		padding:6px 10px;
		border:2px blue solid;
	}

  /*=== end global styles ================================*/

/*- - @HOME - - */
	
	.hero {
		margin:auto 0;
		background:olive;
		min-height: 100%;
		/*height:100vh;*/
		background-image: url("/assets/imgs/meg-willis-website.jpg");
		background-repeat: no-repeat;
		/*background-attachment: fixed;*/
		background-size: cover;
		font-family: 'Caveat', cursive;
		font-size:40px;
	}
	.hero h1 {
		color:#ffffff;
		/*margin-left:-75px;*/
		line-height: .7em;
		padding-bottom: 15px;
	}
	.hero h2 {
		color:#ffffff;
		/*text-transform: uppercase;*/
		line-height: .7em;
		padding:2% 0;
	}
	.welcome_message {
		max-width: 50%;
		text-shadow: 0px 0px 30px black;
		margin: 15% 0;
	}
	.bookings_details span {
		font-family: 'Caveat', cursive;
		font-size: 22px;
	}
	.bookings_details {
		border:red 2px solid;
		font-size: 18px;
		color: white;
		margin:5% 0;
		font-family: 'Open Sans', sans-serif;
		font-weight: 500;
	}
	.bookings_details a {
		color:white;
	}
	.bookings_announcement {
		margin:0;
		width:100%;
		text-align: center;
		box-shadow: 10px 2px 30px #00000007;
		background: #ffffff;
		
	}
	.bookings_announcement .container {
		/*margin:0;*/
		padding:10px 0;
	}
	header .nav_brand img{
		padding:0;
	}
	header .container {
		padding:10px;
	}

	@media only screen and (max-width: 767px) {
		.container {max-width:90%;}
		/*.hero {padding:35px 0;}*/
		.hero h2 {font-size: 36px;}
		.welcome_message {max-width: 100%;}
	/*show my face*/
		.hero {background-position-x:50%;}
		

	}
 /*=== END BODY STYLES ============================================================ */
 

/*=== START FOOTER STYLES ============================================================ */

 /*=== END FOOTER STYLES ============================================================ */






