/*COLOUR CODES*/
	/*Olive green #445626*/



/* === GLOBAL STYLES ================================= */

*,
*::before, 
*::after {
	margin:0;
	padding:0;
	box-sizing: inherit;
}
html {
	font-family: Open Sans, Helvetica, sans serif;
	font-size:14px;
	box-sizing: border-box;
	color:#000000;
}
a {
	text-decoration: none;
	color:olive;
}
ul {
	list-style:none;
}
img {
	/*width:100%;*/
	padding:35px 0;
}

/*h1 {
	font-size: ;
	font-weight: ;
}*/
h2 {
	/*font-family: adobe-garamond-pro, serif;*/
	/*font-weight: 400;*/
	/*font-style: normal;*/
	/*font-size: 45px;*/
	/*color: #000000!important;*/
	/*line-height: .9em;*/
	padding:15px 0;
}
h3 {
	/*text-transform: uppercase;*/
	font-size: 22px;
	line-height: 1.3em;
}
code {
	color:white;
	background-color:#f0f !important;
}
button {
	color:olive;
	background: #ffffff;
	padding: 6px 10px;
	margin:15px 0px;
	
	font-weight: 500;
	font-size:16px;
	text-transform: uppercase;
	border:0px;
}
button i {
	/*color:red;*/
	padding: 2px 0px 2px 15px;
}
button i:hover {
	padding-left: 25px;
}
.btn-white {
	background: white;
	color:black;
	text-transform: uppercase;
	padding:8px 0;
	width:125px;
	border-radius: 6px;
	margin:0 auto;
	/*max-width:125px;*/
	font-size: 16px;
}
.btn-white i:hover {
	padding-left: 25px;
}
body {
	background:#f4f4f4;
	/*min-height: 100vh;*/
}
.content {
	/*object-fit: center;*/
}


  /*=== end global styles ================================*/
/* === HEADER STYLES ============================================================  */

	header {
		background: rgba(100,100,100, 0.5);
		width:100%;
		/*height: 5rem;*/
		/*z-index:1;*/
	}
	header a {
		color:#ffffff;
	}

	.container {
		width:100%;
		max-width:1280px;
		margin: 0 auto;
		padding: 35px 0px;
	}
	nav {
		width:100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		/*padding:35px 0;*/
		z-index: 2;
	}
	.nav-brand {	
		width:100px;
	}
	.nav-list {
		width:100%;
		align-content: right;
		justify-content: center;
		z-index: 1500;
	}

	.nav-list ul{
		text-align: right;
	}
	.nav-item{
		margin:35px 0;
		display: inline;
	}
	.nav-link {
		font-weight:700;
		font-size:18px;
		color:#ffffff;
		cursor: pointer;
		text-transform: uppercase;
		padding:6px 10px;
	}


/*- - @HOME - - */
	.hero {
		background-image: url('/assets/imgs/meg-willis-website.jpg');
		height:90vh;
		min-width:100%;
		background-repeat: no-repeat;
	  	/*background-size: auto;*/
	  	/*border:lime 2px solid;*/
	}
	/*@media screens and only (max-width: 767px) {
		.hero {
		background-image: url('/assets/imgs/meg-willis-website-780px.jpg');
	}*/
	.hero h1 {
		font-family: 'Caveat', cursive;
		font-size: 90px;
		color:#ffffff;
		line-height: 0.5em;
		padding-bottom:15px;
	}
	.hero h2 {
		font-family: 'Open Sans', sans-serif;
		font-size: 25px;
		color:#ffffff;
		font-weight: 700;
		text-transform: uppercase;
		line-height: 1em;
	}
	.welcome_message {
		text-align: left;
		padding:10vw 5vw;
		margin:auto 0px;
		max-width: 500px;
	}
	.bookings_announcement {
	 	background:white;
	 	height: 10vh;
	 }
	.bookings_announcement h3 {
		text-align: center;
		color:olive;
		margin:auto 0;
	 	width:100vw;
	 	position:fixed;
		bottom:0;
		z-index: 999;
	}
	.bookings_details {
		padding:2vh 0;
	}
	.bookings_details p a {
		font-weight: 600;
		font-size: 22px;
		color:#ff00ff;
	}
	.booking_details span {
		font-family: 'Caveat', cursive !important;
	}
 /*=== END BODY STYLES ============================================================ */
 /*=== START FOOTER STYLES ============================================================ */

footer {
	background: rgba(68,86,38, 0.5);
	/*padding:35px 15px;*/
	text-align: center;
	color:#ffffff;
	/*margin-top:75px;*/
}
footer a {
	color:#ffffff;
	font-size: 14px;
}


 /*=== END FOOTER STYLES ============================================================ */






