---
title: rokliejaephotography.com.au Website Status — Meg Willis | Web Builder
layout: plain
---
<!-- hero banner -->
<section class="project_hero">
  <div class="container">
    <div class="content">
      <!-- <div class="welcome_message"> -->
        <h2>Roklie Jae Photography | Website Status</h2>
      <!-- </div> -->
    </div>
  </div>
</section>

<section id="project_status">
  <div class="container">

    <div class="content" >
<!--       <div class="project_goals">
        <h3>Trying to Achieve: </h3>
        <h4>Owner Goals</h4>
        <span>show hospitality to new clients</span><br>
        <h4>Visitor Goals</h4>
        <span>what does Meg Willis do?<br> why should I choose you?<br> I have problems with my website<br></span><br><br>
        <code>Are there more? Are these connected to my big personal goals?</code>
      </div> -->


<!-- PIE CHART  -->
      <div class="status_chart">
        <iframe height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRFP-guQzKHwJsahGWDJXXXGEJoNKSaS_qdsoWMn_3lZ4fcGspwlkJ2PgQzi6IFh_0iSQR_zJyhzNcV/pubchart?oid=1088649009&amp;format=interactive"></iframe>
      </div>
<!-- TABLE  -->
      <div class="status_table">
        <iframe height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRFP-guQzKHwJsahGWDJXXXGEJoNKSaS_qdsoWMn_3lZ4fcGspwlkJ2PgQzi6IFh_0iSQR_zJyhzNcV/pubhtml?gid=1309803393&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
      </div>
    </div>

  </div>
</section>
is the the page