---
title: rokliejaephotography.com.au Website Status — Meg Willis | Web Builder
layout: plain
---
<!-- hero banner -->
<section id="project_hero">
  <div class="container">
    <div class="content">
      <!-- <div class="welcome_message"> -->
        <h2>Roklie Jae Photography</h2>
        <h3>Website Status</h3>
      <!-- </div> -->
    </div>
  </div>
</section>

<section id="project_goals" >
  <div class="container">
    <h3>Trying to Achieve: </h3>
    <hr>
    <div class="content">
        <ol>
          <h4>Owner Goals</h4>
          <li>Portfolio of family journeys</li>
          <li>bookings</li>
          <li>increase product sales</li>
          <li>encourage people to connect on facebook for reoccuring contat</li>
        </ol>
        
        <ol>
          <h4>Visitor Goals</h4>
          <li>price info straight up</li>
          <li>research & decision making</li>
          <li>value for money</li>
          <p>NB: 3 out of 4 clients return.</p>
        </ol>
               
        <ol>
          <h4>Visitor Questions</h4>
          <li>what to expect guide</li>
          <li>what is a XYZ shoot?</li>
          <li>do you use photoshop? why?</li>
          <li>Do you use create videos?</li>
          <li>How long does it take?</li>
        </ol>
        
        <ul>
          <h4>Emotions to Evoke</h4>
          <li>fun + easy</li>
          <li>sentimental</li>
          <li>a sense of luxury</li>
          <li>special but worth it</li>
          <li>to fall in love with the photos and want it themselves</li>
          <li>fleeting/limited opportunity, time robbed as they grow</li>
        </ul>
    </div>
  </div>
</section>

<section id="project_status"class="grey">
  <div class="container">
    <h3>Status </h3>
    <hr>
    <div class="content">
      <!-- PIE CHART  -->
       <iframe class="status_chart" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRFP-guQzKHwJsahGWDJXXXGEJoNKSaS_qdsoWMn_3lZ4fcGspwlkJ2PgQzi6IFh_0iSQR_zJyhzNcV/pubchart?oid=1088649009&amp;format=interactive"></iframe>
      <!-- TABLE  -->
      <iframe class="status_table" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRFP-guQzKHwJsahGWDJXXXGEJoNKSaS_qdsoWMn_3lZ4fcGspwlkJ2PgQzi6IFh_0iSQR_zJyhzNcV/pubhtml?gid=1309803393&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
    </div>
  </div>
</section>