<div class="site_notice">
  <ul>  
    <li class="white"><a href="/index.html">Home</a>  </li>
    <li class="white"><a href="/styleguide.html">Styleguide</a> </li>
    <li class="white"><a href="/businesses.html">Businesses</a> </li>
    <li class="white"><a href="/churches.html">Churches</a> </li>
    <li><a href="/large-documents.html">Large Documents</a> </li>
    <li><a href="/event-promo.html">Event Promotions</a> </li>
    <li><a href="/coaching.html">Coaching + Support</a> </li>
    <li class="white"><a href="/design.html">Design</a> </li>
    <li><a href="/photobooks.html">Photobooks</a> </li>
    <li class="white"><a href="/websites.html">Web</a> </li>
    <li><a href="/about.html">About</a> </li>
    <li><a href="/guides.html">Guides</a> </li>
    <li><a href="/shop.html">Shop</a> </li>
    <li><a href="/playground.html">Playground</a> </li>
    <li><a href="/how-it-works.html">How It Works</a> </li>
  </ul> 
  <ul>  
    <li class="white">  <a href="/uh-oh.html">Uh-oh</a> </li>
    <!-- <li class="white">  <a href="/legals.html">Legals</a> </li> -->
    <li class="white">  <a href="/privacy.html">Privacy</a> </li>
    <li class="white">  <a href="/terms.html">Terms</a> </li>
    <li class="white">  <a href="/contact.html">Contact</a> </li>         
    <li class="">  <a href="/sitemap.html">Sitemap</a> </li>
  </ul>
</div>

