<footer>
	<div class="container">
		<div class="footer_layout">
			
			<!-- SERVICE -->
			<div>
				<h3>Services</h3>
				<ul>
					<li>Web Build</li>
					<li>Web Updates</li>
					<li>Graphic Design</li>
				</ul>
			</div>
			<!-- CUSTOMER SERVICE -->
			<div>
				<h3>Customer Services</h3>
				<ul>
					<li>Support</li>
					<li>About</li>
					<li>Guides</li>
					<li>Contact</li>
				</ul>
			</div>
			<!-- CLIENTS -->
			<div>
				<h3>Clients</h3>
				<ul>
					<li>Businesses</li>
					<li>Churches</li>
				</ul>
			</div>
			<!-- LOCATION -->
			<div>
				<h3>Location</h3>
				<ul>
					<li>Toowoomba Q 4350, Australia</li>
				</ul>
			</div>
		</div>
	</div>

</footer>

<section class="footerBar">
	<div class="container">
		<div class="footer_bar">
			<div class="footer_brand">
				<img src="/assets/imgs/logo.svg">
			</div>
			<div class="legals">
				<ul>
					<li>Privacy</li>
					<li>Terms</li>
					<li>Contact</li>
					<li><a href="/sitemap.html">Sitemap</a></li>
					<li>© Meg Willis.</li>
				</ul>
			</div>
		</div>
	</div>
</section>