<footer>
	<div class="container">
		<div class="footer_layout">
			<!-- LOCATION -->
			<div>
				<h3>Location</h3>
				<ul>
					<li>Toowoomba Queensland<br>Australia</li>
				</ul>
			</div>
			<!-- CUSTOMER SERVICE -->
			<div>
				<h3>Customer Support</h3>
				<ul>
					<li>Coaching + Support</li>
					<li>Guides</li>
					<li><a href="/contact.html">Contact</a></li>
				</ul>
			</div>
			<!-- WEB SERVICES -->
			<div>
				<h3>Website Services</h3>
				<ul>
					<li>Wordpress Website Build</li>
					<li>Headless Website Build</li>
					<li>Updates & Maintenance</li>
					<!-- <li>Minor Headless Website</li> -->
					<li></li>
				</ul>
			</div>
			<!-- design SERVICES -->
			<div>
				<h3>Design Services</h3>
				<ul>
					<li>Business Promotion Materials</li>
					<li>Event Promotion Materials</li>
					<li>Photobooks</li>
					<li>Typesetting Large Documents</li>
					<li>Large Documents </li>
        			<li>Event Promotions</li>
				</ul>
			</div>
			
			<!-- CLIENTS -->
			<div>
				<h3>Clients</h3>
				<ul>
					<li>Small Rural Businesses</li>
					<li>Regional Churches</li>
				</ul>
			</div>
			
		</div>
	</div>

</footer>

<!-- <section>	<code>instagram OR latest project posts</code></section> -->

<section class="footerBar olive">
	<div class="container">
		<div class="footer_bar">
			<div class="footer_brand">
				<!-- <img src="/assets/imgs/logo.svg"> -->
			</div>
			<div class="legals">
				<ul>
					<li>© Meg Willis.</li>
					<li><a href="/privacy.html">Privacy</a> </li>
					<li><a href="/terms.html">Terms</a> </li>
					
					<!-- <li><a href="/sitemap.html">Sitemap</a></li> -->
					<li><a href="https://www.facebook.com">Facebook</a></li>
					<li><a href="https://www.instagram.com/">Instagram</a></li>
					<li><a href="/contact.html">Contact</a> </li>
				</ul>
			</div>
		</div>
	</div>
</section>