<header>
	<div class="container">
		<div class="main_nav">
			<div class="nav_brand">
				<a href="/index.html">
					<img src="/assets/imgs/logo-w.svg">
				</a>
			</div>
			<div class="menu_items">
				<div class="nav_item"><a href="/web.html">Web</a></div>
				<!-- <div class="nav_item"><a href="/design.html">Design</a></div> -->
				<!-- <div class="nav_item"><a href="/contact.html">About</a></div> -->
				<div class="nav_item cta"><a href="/contact.html">Contact</a></div>
			</div>
		</div>
	</div>
</header>



