<!-- <header>
	<div class="container">
		<nav>
			<div class="nav_brand">
				<a href="index.html">
				<img src="assets/imgs/logo.png">
				</a>
			</div>
			<div class="nav_list">  
			 	<ul>
				  <li class="nav_item"><a href="/work.html" class="nav_link">Work</a></li>
				  <li class="nav_item"><a href="/case-studies.html" class="nav_link">Case Studies</a></li>
				  <li class="nav_item"><a href="/about.html" class="nav_link">About</a></li>
				  <li class="nav_item"><a href="/contact.html" class="nav_link">Contact</a></li>
				</ul>
			</div>
		</nav>
	</div>
</header>
 -->
<!-- test -->

<header>
	<div class="container">
		<div class="main_nav">
			<div class="nav_item"><a href="/index.html">Home</a></div>
			<div class="nav_item"><a href="/business.html">Business</a></div>
			<div class="nav_item"><a href="/church.html">Church</a></div>
			<div class="nav_brand"><img src="/assets/imgs/logo.png"></div>
			<div class="nav_item"><a href="/design.html">Design</a></div>
			<div class="nav_item"><a href="/projects.html">Projects</a></div>
			<div class="nav_item"><a href="/contact.html">Contact</a></div>
		</div>
	</div>
</header>

<!-- end test -->