<header>
	<div class="container">
		<nav>
			<div class="nav-brand">
				<a href="index.html">
				<img src="assets/imgs/logo.png">
				</a>
			</div>
			<div class="nav-list">  
			 	<ul>
				  <li class="nav-item"><a href="/work.html" class="nav-link">Work</a></li>
				  <li class="nav-item"><a href="/case-studies.html" class="nav-link">Case Studies</a></li>
				  <li class="nav-item"><a href="/about.html" class="nav-link">About</a></li>
				  <li class="nav-item"><a href="/contact.html" class="nav-link">Contact</a></li>
				</ul>
			</div>
		</nav>
	</div>
</header>