---
title: Jaha Tiles Website Status — Meg Willis | Web Builder
---
<!-- hero banner -->
<section class="project_hero">
  <div class="container">
    <div class="content">
      <!-- <div class="welcome_message"> -->
        <h2>Jaha Tiles | Website Status</h2>
      <!-- </div> -->
    </div>
  </div>
</section>

<section id="project_status">
  <div class="container">

    <div class="content">
<!-- PIE CHART  -->
      <div class="status_chart">
        <iframe width="600" height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vS0IbGtfreHmiT2Hy4e6UHwaANO2J3YiDgdHbqhBpHosyjesJX3xWsEVIByqeY-BzR-XOOLFnIJ-wZO/pubchart?oid=1088649009&amp;format=interactive"></iframe>
      </div>
<!-- TABLE  -->
      <div class="status_table">
        <iframe width="100%" height="1000" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vS0IbGtfreHmiT2Hy4e6UHwaANO2J3YiDgdHbqhBpHosyjesJX3xWsEVIByqeY-BzR-XOOLFnIJ-wZO/pubhtml?gid=1808841746&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
      </div>

    </div>

  </div>
</section>

