---
title: Jaha Tiles Website Status — Meg Willis | Web Builder
---

<!-- hero banner -->
<section class="hero">
  <div class="container">
    <div class="content">
      
        <h1>Hey</h1>
        <h2>Hey, <br>I'm Meg, welcome!<br>
            You caught me at a bad time, Im finally getting to work on my own site (what?!) <br><br> I'll be right back!</h2>
      
    </div>
  </div>
</section>

<!-- now taking bookings  -->
<section class="bookings_announcement">
  <div class="container">
    <div class="content">
      <h3>Now taking bookings for November 2020</h3>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="content">
      <p>Lets go for coffee?</p>
      <form>
        <input type="name" name="First Name">
        <input type="text" name="Phone">
      </form>
      facebook | instagram | google maps
    </div>
  </div>
</section>
