---
title: Meg Willis | Web Builder
---

<!DOCTYPE html>
  <html>
  <head>
    <title> Contact Meg.</title>
  </head>
  <body>

<!-- hero banner -->
<section class="hero">
  <div class="container">
    <div class="content">
         hero banner contact page.
    </div>
  </div>
</section>

<!-- now taking bookings  -->
<section class="bookings_announcement">
  <div class="container">
    <div class="content">
      insert contact form
      insert contact details
      
    </div>
  </div>
</section>

