---
title: Meg Willis | Web Builder
---

<!DOCTYPE html>
  <html>
  <head>
    <title> Meg Willis  </title>
  </head>
  <body>

<!-- hero banner -->
<section class="hero">
  <div class="container">
    <div class="content">
      
        
        <div class="welcome_message">
          <h2>Hey,</h2>
          <h1>Im Meg, welcome!</h1>
          <h2>What are you up to?</h2>
        </div>
        <!-- <button>
          Im building a business
        </button>
        <button>
          Im helping a church
        </button> -->
    </div>
  </div>
</section>

<!-- now taking bookings  -->
<section class="bookings_announcement">
  <div class="container">
    <div class="content">
      <h3>Now taking bookings for October</h3>
    </div>
  </div>
</section>

<!-- full width latest project or case study -->
<section>
  <div class="container">
    <div>
      <h2>Contact Details</h2>
      <h3>Phone. 0434 51 3333 | meg@megwilliscreativw.com</h3>
    </div>
  </div>
</section>
