---
title: Meg Willis | Web Builder
---

<!DOCTYPE html>
  <html>
  <head>
    <title> Meg Willis  </title>
  </head>
  <body>

<!-- hero banner -->
<section class="hero">
  <div class="container">
    <div class="content">
        <h1>Hey,<br>Im Meg, welcome!<br>What are you up to?</h1>
        <button>
          Im building a business
        </button>
        <button>
          Im helping a church
        </button>
    </div>
  </div>
</section>


<%= partial "partials/headline" %>



<section>
  <div class="container">
    <div>
      CONTENT
    </div>
  </div>
</section>


<!-- start something project questions -->
<section>
  <div class="container">
    <div>
      <form>
        <input type="email" name="Email" placeholder="Email">
        <input type="text" name="fName" placeholder="First Name">
        <input type="textarea" name="message" placeholder="What would you like to work on?">
      </form>
    </div>
  </div>
</section>


</body>
</html>