---
title: Meg Willis | Web Builder
---

<!DOCTYPE html>
  <html>
  <head>
    <title> Meg Willis Design </title>
  </head>
  <body>


<!-- hero banner -->
<section class="hero">
  <div class="container">
    <div class="content">
      <code>      
        <h1>Meg Willis Business Site</h1>
        <h2>TRYING TO ACHIEVE: </h2>
        <ul>
          <li>display and document success record</li>
          <li>give clients confidence in me</li>
        </ul>
      </code>
    </div>
  </div>
</section>

<!-- now taking bookings  -->
<section class="bookings_announcement">
  <div class="container">
    <div class="content">
      <h3 style="text-align: center;">Now taking bookings for June + July.</h3>
    </div>
  </div>
</section>

<!-- full width latest project or case study -->
<section>
  <div class="container">
    <div>
      CONTENT
    </div>
  </div>
</section>


<!-- grid of 2 x 2 full width latest projects -->
<section>
  <div class="container">
    <div>
      CONTENT
    </div>
  </div>
</section>


<!-- grid of 4 x 2 fullwidth -->
<section>
  <div class="container">
    <div>
      CONTENT
    </div>
  </div>
</section>


<!-- start something project questions -->
<section>
  <div class="container">
    <div>
      CONTENT
    </div>
  </div>
</section>


</body>
</html>