---
title: Meg Willis | Web Builder
---

<!DOCTYPE html>
  <html>
  <head>
    <title> Meg Willis  </title>
  </head>
  <body>

<!-- hero banner -->
<section class="hero">
  <div class="container">
    <div class="content">
        <div class="welcome_message">
          <h2>Hey, <br>I'm Meg, welcome!<br>
            You caught me at a bad time, Im finally getting to work on my own site (what?!) <br><br> I'll be right back!</h2>
          <div class="bookings_details">
      <!-- <h2>Contact Details</h2> -->
            <p><span>Get in touch</span><br> <a href="tel:61434513333">Phone. 0434 51 3333</a> or email <a href="mailto:meg@megwilliscreative.com">meg@megwilliscreative.com</a></p>
          </div>
        </div>
    </div>
  </div>
</section>

<!-- now taking bookings  -->
<section class="bookings_announcement">
  <div class="container">
    <div class="content">
      <h3>Now taking bookings for October</h3>
    </div>
  </div>
</section>

