---
title: Meg Willis | Web Builder
layout: answering_machine
---

<!DOCTYPE html>
  <html>
  <head>
    <title> Meg Willis Design </title>
  </head>
  <body>


<!-- hero banner -->
<section class="hero">
  <div class="container">
    <div class="content">
      
        <h1>Hey</h1>
        <h2>Im Meg</h2>
      
    </div>
  </div>
</section>

<!-- now taking bookings  -->
<section class="bookings_announcement">
  <div class="container">
    <div class="content">
      <h3>Now taking bookings for October 2020</h3>
    </div>
  </div>
</section>

</body>
</html>