---
title: megwillis.com.au Website Status — Meg Willis | Web Builder
---
<!-- hero banner -->
<section class="project_hero">
  <div class="container">
    <div class="content">
      <!-- <div class="welcome_message"> -->
        <h2>Meg Willis | Website Status</h2>
      <!-- </div> -->
    </div>
  </div>
</section>

<section id="project_status">
  <div class="container">

    <div class="content">
      <div class="project_goals">
        <h3>Trying to Achieve: </h3>
        <h4>Owner Goals</h4>
        <span>show hospitality to new clients</span><br>
        <h4>Visitor Goals</h4>
        <span>what does Meg Willis do?<br> why should I choose you?<br> I have problems with my website<br></span><br><br>
        <code>Are there more? Are these connected to my big personal goals?</code>
      </div>


<!-- PIE CHART  -->
      <div class="status_chart">
        
      <iframe width="100%" height="371" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRgPvFRhhzdT1H4qEnLpTv85E52hTgIHmiroPHVnkCJ7Hxr2j9NUKl1PZazFsdhFYRc9vBb5ezo31-s/pubchart?oid=902985517&amp;format=interactive"></iframe>
      </div>
<!-- TABLE  -->
      <div class="status_table">
        <iframe width="100%" height="1000" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRgPvFRhhzdT1H4qEnLpTv85E52hTgIHmiroPHVnkCJ7Hxr2j9NUKl1PZazFsdhFYRc9vBb5ezo31-s/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
      </div>

    </div>

  </div>
</section>
