---
title: Styles Guide
---
<section>
	<div class="container">
		<div class="content">
			<code>
				Source Sans Pro Regular
				font-family: source-sans-pro, sans-serif;
				font-weight: 400;
				font-style: normal;

				Source Sans Pro Bold
				font-family: source-sans-pro, sans-serif;
				font-weight: 700;
				font-style: normal;

				Source Sans Pro Bold Italic
				font-family: source-sans-pro, sans-serif;
				font-weight: 700;
				font-style: italic;

				Source Sans Pro Italic
				font-family: source-sans-pro, sans-serif;
				font-weight: 400;
				font-style: italic;

				Source Sans Pro ExtraLight
				font-family: source-sans-pro, sans-serif;
				font-weight: 200;
				font-style: normal;
			</code>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="content">
			<h1>Main Heading</h1>
			<code>Use h1 tags</code>
			<p>for page titles</p>
			
			<h2>Subheading</h2>
			<code>Use h2 tags</code>
			<p>for page descriptions?</p>
			


		</div>
	</div>
</section>
	