
<style type="text/css">
	/*~~~~~~ Headings ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
		h1 {
			font-weight: 300;
		}
		h2 {
			font-weight: lighter;
			font-family: Baskerville, Georgia, 'Times New Roman', Times, serif;
			font-size: 45px;
			/*margin:15px 0 35px 0;*/
			line-height: 1.5em;
		}
		h3 {
			color: #313131;
			text-transform: uppercase;
			font-size: 16px;
			line-height: 1.7em;
			font-family: 'Open Sans', Helvetica, sans-serif;
			font-weight: normal;
			margin:15px 0;
		}
		.olive h3 {
			color:white;
		}
		footer h3 {
			padding:15px 0 35px 0;
		}
		h4 {
			text-transform: uppercase;
			color:grey;
			font-size: 18px;
			line-height: 2em;
			margin-top:15px;
			margin-bottom: 5px;
			font-weight: 700;
		}
		h5 {
			font-size: 14px;
			text-transform: uppercase;
			margin-top:15px;
			/*font-weight: 700;*/
			}
		h6 {
			font-size: 14px;
			font-weight: 700;
		}
		p {
			font-size:14px;
			margin:8px 0 5px 0;
		}
		.para1 {
			font-size: 18px;
			line-height: 1.5em;
			margin:15px 0 ;
		}
		.handwritten {
			font-weight: normal;
			font-family: 'Rockness', helvetica, sans-serif;
			font-size: 65px;
			/*margin:15px 0 35px 0;*/
			line-height: 1.5em;

			/*-webkit-transform: rotate(0deg)!important;*/
			/*transform: rotate(0deg);*/

		}
		blockquote {
			margin:35px 0;
			font-style: italic;
			font-size: 22px;
			line-height: 1.5em;
			color: #808000;
			text-align: center;
		}
		#reviews img {
			width:30px;
			opacity:.5;
			margin:15px;
		}
		@media only screen and (max-width: 767px) {
			h2 {
				font-size: 35px;
				line-height: 1.3em; 
			}
			.handwritten {
				line-height: 1em !important;
				transform: rotate(-5deg);
			}
		}
</style>

<section>
	<div class="container">
		<div class="content">
			<h2>Terms</h2>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div>
			
			<h1><b>Meg Willis Terms &amp; Conditions</b></h1>
			<b>Please read the following terms and conditions carefully, as by accepting any quotation provided, and therefore hiring Meg Willis, it is deemed that the client has read and agreed to Meg Willis’s terms and conditions as outlined below.</b>
			<h3><b>1. DEFINITIONS</b></h3>
			<span>‘Meg Willis’ or ‘MWC’ means Meg Willis trading as ‘Meg Willis’ or MWC</span>

			<span>‘Client’ means a person/s or company who engages Meg Willis for design and related services</span>

			<span>‘Quotation’ means the design quotation provided to the client in writing by Meg Willis</span>

			<span>‘Project’ means the scope and purpose of the client’s identified usage of the work product as described in the quotation</span>

			<span>‘Service’ and ‘services’ means the service/s and to be provided to the client by Meg Willis, as described and otherwise further defined in the quotation</span>

			<span>‘Deliverables’ means the the end product/s to be delivered by Meg Willis to the client, in the form and media specified in the quotation</span>
			<h3><b>2. QUOTATIONS</b></h3>
			<span>All Quotations are provided by Meg Willis free of charge and are valid for 30 days from the date of issue. Quotations that are not accepted within the time identified may be subject to amendment. All quoted are priced in Australian Dollars. Additional work which is outside the original scope and not provided for in the original quotation, is charged at an additional hourly rate of $45 per hour.</span>
			<h3><b>3. INVOICES &amp; PAYMENT</b></h3>
			<span>An invoice will be issued to the client for all work to be completed by Meg Willis. All invoices are payable within 7 calendar days of date of issue, unless otherwise agreed. An up-front 50% deposit prior to commencing any project. Work on the project will begin once the 50% deposit has been received. Clients residing outside of Australia are required to make payment in full prior to any project commencement. Payment is required in full prior to releasing high resolution digital files, and/or supplying files for offset or digital printing and websites. The client is responsible for all debt collection fees, legal fees and court fees that may be incurred as a result of the client’s failure to pay invoices within 7 calendar days of date of issue.</span>
			<h3><b>4. CONFIDENTIAL INFORMATION</b></h3>
			<span>Meg Willis and the client both acknowledge that during business dealings they may receive certain confidential information and materials of the other party. Each party, including its agents and employees, agrees to hold and maintain in strict confidence all confidential Information, shall not disclose confidential Information to any third party, and shall not use any confidential Information except as may be necessary to perform its obligations under the Quotation, and as may be required by a court or governmental authority. Confidential Information does not include any information that is in the public domain or becomes publicly known through no fault of the receiving party, or is otherwise properly received from a third party without an obligation of confidentiality.</span>
			<h3><b>5. DEADLINES</b></h3>
			<span>Every effort possible is made by Meg Willis to meet required deadlines. Additional charges may apply if Meg Willis is required to work outside of normal business hours in order to meet deadlines. It is the client’s responsibility to notify Meg Willis of deadlines prior to the commencement of the project. Meg Willis will not be liable or held responsible for any deadlines not met, or any costs incurred as a result, due to circumstances beyond Meg Willis’s control, such as illness, injury, client delay, or third-party or sub-contractor turnaround times. Final approval of art must also be provided to Meg Willis in writing before any work is released – verbal approvals cannot be accepted.</span>
			<h3><b>6. PROOFS</b></h3>
			<span>All concepts created by Meg Willis are presented in low resolution draft format for on-screen proofing. High resolution files are only released once full payment is received. Meg Willis exercises reasonable effort to proof and test deliverables prior to presentation. All concepts presented by Meg Willis are created to the very best of Meg Willis’s ability and knowledge. The client must confirm in writing that they approve or require revisions to supplied proofs, within 14 days of receipt of proofs.</span>
			<h3><b>7. REVISIONS</b></h3>
			<span>Any and all corrections, changes or amendments to a project must be provided to Meg Willis in writing. Each quotation allows the client three rounds of minor revisions to their project unless otherwise specified. Any revisions not nominated in the three rounds of minor revisions, or otherwise accounted for in the quotation, are charged at an hourly rate of $45 per hour. Revisions deemed by Meg Willis to take in excess of 50% of the time required to produce the deliverables, are substantial revisions and are charged at an hourly rate of $120 per hour. Should the client choose not to proceed with the project, an invoice will be issued for work completed up to that date.</span>
			<h3><b>8. ERRORS &amp; OMISSIONS</b></h3>
			<span>Whilst all care is taken by Meg Willis in producing proofs and final art, it is understood that the client assumes and accepts liability for any and all errors not corrected. The client is responsible for proof reading and identifying any errors or omissions, prior to final approval. Final artwork is not released to the client or third parties (eg. printers) until final approval of art is provided to Meg Willis in writing  – verbal approvals cannot be accepted. Should the client request a project reprint, the client is solely responsible for payment of all associated costs. Meg Willis cannot issue credit or refunds.</span>
			<h3><b>9. OFFSET &amp; DIGITAL PRINTING</b></h3>
			<span>Files provided by the client to Meg Willis for use in high quality print reproduction, must be supplied as CMYK and at a minimum resolution of 300dpi at actual size. Additional charges may apply where Meg Willis is required to manipulate and convert client supplied files, to ensure they are press-ready. Meg Willis thoroughly checks all images supplied, and provides advice to the client regarding reproduction quality, colour and stock. The client accepts that Meg Willis is not responsible for any client supplied images that do not print as expected. Meg Willis supplies files to print companies and other third parties for high quality reproduction, at a minimum of 300dpi at actual size, or as high resolution PDF’s, and as per their required specifications.</span>

			<span>Due to variations in computer settings, on-screen colour proofing may differ between monitors and devices, and can differ from the final printed result. The Client acknowledges that on-screen proofing is not an accurate representation of the final printed project, and that Meg Willis is not responsible for any colour variations that may occur between on-screen proofs and the final printed outcome. Colour accuracy is best determined at the chosen print company, by the production of pre-press calibrated high resolution proofs. Depending upon the print company, such colour-accurate hard copy proofs may attract an additional cost, prices are available upon request. Meg Willis will happily press-check projects where feasible and where requested, to help ensure consistency and the best possible printed outcome. The client accepts that Meg Willis is not responsible for any print inaccuracies that may arise.</span>
			<h3><b>10. FILE FORMATS</b></h3>
			<span>Meg Willis does not release or supply any working files used in the creation of a project (such as Adobe Illustrator, InDesign, Photoshop and so on). High resolution PDF’s of a completed project can be supplied upon final payment, at the client’s request. Upon project completion, Meg Willis securely backs up and stores all associated files. Should the client request the supply of any files more than 30 days after project completion, a small retrieval fee may be incurred. Artwork and files required to be burnt to disc incur a fee of $25 per disc, to cover time and consumables.</span>
			<h3><b>11.  USE OF IMAGES</b></h3>
			<span>Meg Willis can not use images that violate copyright. Client supplied images must be sourced from reputable stock photography libraries, or the client must be the copyright holder or have written permission from the copyright holder to use the image/s for commercial purposes. Meg Willis can source professional stock photography as required. Professional stock photography that is not accounted for in the initial quotation attracts an additional cost which is payable by the client.</span>
			<h3><b>12. INCOMPLETE &amp; CANCELLED PROJECTS</b></h3>
			<span>The client, within 14 calendar days of receipt of each proof, shall notify Meg Willis of any corrections, changes or amendments the client wishes to be made. Should the Client fail to contact Meg Willis within 14 calendar days of receipt of proof/s, and notify Meg Willis of any corrections, changes or amendments, or of final proof approval, Meg Willis reserves the right to consider the project finalised, and issue an invoice for payment of work completed. In the event of a project termination by either party, Meg Willis will issue an invoice for all work completed up to the date of cancellation, and payment of this invoice is required by the Client.</span>
			<h3><b>13. ADDITIONAL COSTS</b></h3>
			<span>On-site consultations are charged at Meg Willis’s hourly rate of $45 per hour unless otherwise specified. Travel time and associated costs for on-site consultations may also be calculated as an additional cost.</span>

			<span>Quotation pricing includes Meg Willis’s fees only. Any and all third party costs will be invoiced to the client, unless specifically otherwise provided for in the quotation. Such outside costs include, but are not limited to, postage and packaging, freight and shipping, courier fees, high resolution proofs from chosen offset printer, offset printing, digital printing, photocopies, artwork burnt to disk, sub-contractor’s costs and fees, stock photography, photography and or artwork licenses, online access or hosting fees, parking fees, tolls, taxi fares and public transportation fares.</span>
			<h3><b>14. PROMOTION</b></h3>
			<span>Meg Willis retains the right to publish and display any client projects in Meg Willis’s portfolio, website, design periodicals, and other media or exhibits.</span>

			
		</div>
	</div>
</section>