<style type="text/css">
	form{ border:orange 1px solid; }
	label { border:blue solid 1px;color:white;padding:5px;}
	.checkbox {}

	input {border:1px solid red;}
	span {border: 1px solid yellow;}
	

</style>




<h1>test form styles for Biz site</h1>

I want the checkboses to be in a list
<form>
	<label class="checkbox">
		<input type="checkbox" />
		<span>Check Me</span>
	</label>
</form>