<section id="hero" class=" hero full_width_image">
</section>

<section id="thanks">
	<div class="container">
		<div class="content">
			<h2>Thanks</h2>
			<p>Sweet! <br>Your message has been sent, talk soon. <br><br>
			Meg</p>
		</div>
		<div class="content">
			<a href="/index.html" class="button olive">Head Home</a> or <a href="https://www.instagram.com/megwiliscreative" class="button olive">Head to Instagram and keep looking.</a>
		</div>
	</div>
</section>