---
title: "Websites by Meg Willis"
layout: layout
---

<section id="hero" class="hero websites_banner">
	<div class="container">
		<div class="content">
			<!-- <h2>Websites</h2> -->
			<h1>Get yourself online!</h1>
			<p><a href="/contact.html" class="button">Let's meet up</a></p>
		</div>
	</div>
</section>


<section id="page_intro" class="olive">
	<div class="container">
		<div class="content">
			<h1>Welcome your visitors at your front door — your website.</h1>
			<p class="para1">Your website is the first conversation with someone you dont know, its an online brochure that introduces you and your products and services.</p>
		</div>
	</div>
</section>

<section class="full_width_grid">
	<div class="col"><img src="/assets/imgs/SJG-web-3-1x1.jpg"></div>
	<div class="col"><img src="/assets/imgs/SWS-web-3-1x1.jpg"></div>
	<div class="col"><img src="/assets/imgs/SJG-web-3-1x1.jpg"></div>
	<div class="col"><img src="/assets/imgs/SWS-web-3-1x1.jpg"></div>
</section>

<section class="grey_light">
	<div class="container">
		<div class="content">
			<div class="whats_involved Websites">
				<div>
					<h3>Why do I need a website?</h3>
					<p class="para1">Your website is the first conversation with someone you dont know, its an online brochure that introduces you and your products and services.</p>
					<p >Your site is the structure the shelves for the content be setup and on show to visitors.</p>
					<p>Your website needs things on the 'shelves'</p>
				</div>
				<div>
					<h3>Whats Involved?</h3>
					<h4>Step 1 — Introductions to the project. </h4><p>We talk about what you're trying to get done. The main goal here is to start on a great foundation* so there's less miscommunication down the road.</p>
					<h4>Step 2 — Concept Design</h4> <p>After I have an idea of what you're after, I go away and develop three concepts for you to choose from. We work out what parts you like and dont like about all three, and we go forward with one visual direction.</p>
					<h4>Step 3 — Design & Build</h4><p>Your design is applied to the remaining pages in the project.</p>
					<h4>Step 4 — After its created</h4> <p>your feedback and comments are invited and we go through the process of approving text, images and layout.</p>
					<h4>Step 5 — Updates and Management</h4><p>Depending on your goals, and how much you want to be involved, you'll be setup, launched and increasing sales. You'll receive training if desired.</p>
					<h5>what are my options?</h5>You may have experience and desire to be able to take on updates and mangagement of the site. In this case, we can fully hand over the site to your control* and you'll be on your way. Im always available for edits though!
					<br>
					<h6>* edit word choice</h6>			
				</div>				
				<!-- <img src="/assets/imgs/shelf.jpg" style="width:800px;"> -->
			</div>
		</div>

	</div>
</section>
<section id="previous_clients">
	<div class="container">
		<BR>
		<h2>Previous Website Clients</h2>
		<div class="content">
			
			<a href="https://bizcleanmats.com.au/" target="_blank"><img src="/assets/imgs/MW-client-logo-BIZ.png"></a>
			<a href="https://movement.org.au/" target="_blank"><img src="/assets/imgs/MW-client-logo-MDA.png"></a>
			<a href="https://www.theprojectchurch.com.au/" target="_blank"><img src="/assets/imgs/MW-client-logo-TPC.png"></a>
			<a href="https://www.warialdaanglican.org.au/" target="_blank"><img src="/assets/imgs/MW-client-logo-WAC.png"></a>
			<a href="https://www.amyphilpphotography.com.au/" target="_blank"><img src="/assets/imgs/MW-client-logo-APP.png"></a>
			
			<a href="https://www.stjohnsongeddes.church/" target="_blank"><img src="/assets/imgs/MW-client-logo-SJG.png"></a>
			<a href="https://www.ortem.com.au/" target="_blank"><img src="/assets/imgs/MW-client-logo-ORT.png"></a>
			<a href="https://www.jahatiles.com.au/" target="_blank"><img src="/assets/imgs/MW-client-logo-JHA.png"></a>
			<a href="https://www.antislipit.com.au/" target="_blank"><img src="/assets/imgs/MW-client-logo-ASI.png"></a>
			<a href="https://www.sweetwoodsilks.com.au/" target="_blank"><img src="/assets/imgs/MW-client-logo-SWS.png"></a>
		</div>
	</div>
</section>








<code>Trying to achieve:<br>
	- demonstrate experience
	- invite my audience
	- explain what my service is
	- explain why I want to help my audience
</code>
	<br>


<code>Could the <a href="https://middlemanapp.com/basics/blogging/#main">Middleman Blog function</a> be used to show different projects?</code>